name: Run Test Flow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run_test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        metaflowversion:
          - "2.5.2"
          - "2.5.1"
          - "2.5.0"
          - "2.4.9"
          - "6b91231"
    continue-on-error: true
    runs-on: ${{ matrix.os }}
    name: Run test flow
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install Mac dependencies and permissions
        if: runner.os == 'macOS'
        run: |
          sudo chown -R $UID $CONDA

      - name: Install cross-platform dependencies
        run: |
          conda install python=3.8
          $CONDA/bin/python -m pip install --upgrade pip
          $CONDA/bin/python -m pip install "git+https://github.com/netflix/metaflow@${{ matrix.metaflowversion }}"
          conda config --add channels conda-forge

      - name: Get metaflow config
        run: |
          pip install awscli

          mkdir -p "$HOME/.metaflowconfig"

          aws secretsmanager get-secret-value --secret-id ds-infra/Metaflow/Config --query SecretString --output text > "$HOME/.metaflowconfig/config.json"

      - name: Run flow
        run: |
          $CONDA/bin/python flow.py --environment conda --datastore s3 --metadata local run --with batch
